<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.ListenerClass"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
 	  <class name="tests.base_test"/>
 	  <class name="tests.login_test"/>
      <class name="tests.cart_test"/>
      <class name="tests.inventory_test"/>
      <class name="tests.checkout_step_one_test"/>
      <class name="tests.checkout_step_two_test"/>
      <class name="tests.checkout_complete_test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->